body{
    font-family: 'Albert Sans', sans-serif;
    background-color: rgb(218, 247, 251);
}

.btn{
    border:10px solid green;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn:hover{
    color: lightblue;
    text-decoration: underline;
}

.quote{
    text-align: center;
}
h1{
    margin: auto;
    font-size: 48px;
}


p{
    text-align: center;
    font-size: 48px;
    font-style: italic;

}